html, body {
  background-color: black;
  color: white;
  font-size: 18px;

}
/* header*/
#logo {
  display: flex;
  align-items: center;
 }

#logo img {
  padding-left: 0.5rem;
  padding-right: 1rem;
  height: 1.5rem;
}

/* temp building blocks*/
div {
  border: 2px solid white;
}
